* {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web';
}

body {
    background-color: #191919;
    overflow: hidden;
}

.divBackground {
    position: fixed;
    margin: -150px -8px;
    background-size: contain;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, transparent, black);
    z-index: 1;
}

.divArtHolder {
    position: fixed;
    margin: -150px -10px;
    background-size: contain;
    background-position: center center;
    height: 110%;
    width: 101%;
    z-index: 0;
}

.divArtHolder img {
    position: fixed;
    height: inherit;
    width: inherit;
    opacity: 0%;
    z-index: 0;
}

.divPane {
    position: relative;
    margin: 10% auto;
    height: 70%;
    width: 50%;
    padding-left: 30px;
    background-color: rgba(0, 0, 0);
    box-shadow: 0 0 10px 1px #4a4a4a;
    z-index: 5;
}

.divPane div {
    margin: 100px 0;
    display: inline-flex;
    padding: 10px;
    z-index: 10;
}

.divPane label {
    color: #4a4a4a;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    z-index: 9;
}

.divPane input {
    position: relative;
    margin: auto;
    height: 30px;
    width: 80px;
    font-size: 20px;
    padding: 0;
    border: 1px rgb(100, 100, 100) ridge;
    background-color: #191919;
    box-shadow: 0 0 10px 1px #4a4a4a;
    color: white;
    text-align: center;
    z-index: 10;
}

.divDescription {
    position: relative;
    margin: -10% auto;
    height: 1%;
    width: 49%;
    background-color: transparent;
    box-shadow: 0 0 20px 1px black;
    z-index: 5;
}

.divDescription h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    margin-bottom: 30px;
    opacity: 0;
}

.divDescription p {
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0;
}

.btnSummon {
    position: relative;
    float: right;
    margin: 2% 30%;
    z-index: 10;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    background-color: rgb(25, 25, 25);
    box-shadow: 0 0 10px 1px #4a4a4a;
}

.btnSummon:active {
    opacity: 0;
}

